*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar {
    height: 70px;
    margin-top: 15px;
    padding-left: 15%;
}
.nav-logo {
    width: 268px;
    height: 33px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    float: right;
    padding-right: 20%;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding-top: 10px;
}
nav ul li a {
    text-decoration: none;
    padding: 0px 0.6em;
}
.content {
    padding: 0px 20px 0px 20px;
    margin-top: 33px;
    margin-bottom: 60px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}
h2 {
    text-align: center;
    margin: 1em 0;
    font-size: 2.125rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 20;
    letter-spacing: -.3px;
    color: #00b39b;
}
.grid {
    margin: 0 -10px;
    display: flex;
}
.col-1 {
    width: 50%;
    padding-left: 15%;
    padding-top: 25px;
}
.content p {
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
}
.col-2 {
    width: 50%;
    padding-right: 15%;
    padding-top: 25px;
}
.services {
    margin: 3.75rem auto 2.75rem;
    padding: 0px 20px;
    position: relative;
}